body
{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
    direction: rtl;
}
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
header
{
    background: #353637;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #32a0c2 5px solid;
}

header a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
}
header li {
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}
header #brand
{
    float: right;
}
header #brand h1
{
    margin: 0;
    color: #0036e9;
}
header nav
{
    float: left;
    margin-top: 10px;
}
header .current a
{
    color: #99e709;
    font-weight: bold;
}
header a:hover
{
    color: #ec1414;
    font-weight: bold;

}
#showcase
{
    min-height: 400px;
    background: url("../image/23978023lpw-23979862-article-jpg_9227990_660x287.jpg") no-repeat center;
    background-size: cover;
}
#newsletter
{
    padding: 15px;
    color: #ffffff;
    background: #353637;
}
#newsletter h1
{
    float: right;
}
#newsletter form
{
    float: left;
    margin-top: 15px;
}
#newsletter input[type="email"]
{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button
{
    height: 38px;
    background: #cccccc;
    padding-left: 20px;
    padding-right: 20px;
    color: #353637;
}
#boxes
{
    margin-top: px;
}
footer
{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #32a0c2;
    text-align: center;
    font-weight: bol;
    font-size: 25px;
}
#contact-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#contact-box img{
    width: 45px;
    border-bottom: 2px double yellow;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;
}
#contact-box img:hover{
    width: 55px;
    border-bottom: 2px solid black;
}
@media(max-width:768px)
{
    header #brand,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    header
    {
        padding-bottom: 20px;
    }
    #newsletter .button
    {
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"]
    {
        width: 100%;
        margin-bottom: 5px;
    }
}